<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :age %>
  </div>

  <div class="form-inputs">
    <%= f.input :gender, as: :collection_select, collection: [['M', 'Masculino'], ['F', 'Feminino']], label_method: :second, value_method: :first %>
  </div>

  <div class="form-inputs">
    <%= f.input :city %>
  </div>

  <div class="form-inputs">
    <%= f.input :uf, as: :collection_select, collection: get_brazilian_ufs() %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div>
<% end %>

