<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Sexo: :</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>UF:</strong>
  <%= @user.uf %>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
