<div id="<%= dom_id user %>">
  <p>
    <strong>Nome:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Idade:</strong>
    <%= user.age %>
  </p>

  <p>
    <strong>Sexo:</strong>
    <%= user.gender %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= user.city %>
  </p>

  <p>
    <strong>UF:</strong>
    <%= user.uf %>
  </p>

</div>
