<!DOCTYPE html>
<html>
  <head>
    <title>dialog rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/jumbotron' %>
    <div class="container">
      
        <%= yield %>
        
        <%= render 'layouts/footer' %>
        <%= debug(params) if false %>
      
    </div>
  </body>
</html>
