<!DOCTYPE html>
<html>
  <head>
    <title>DialogRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="https://i0.wp.com/www.dialog.ci/wp-content/uploads/2022/03/Ativo-7@5x.png?w=1080&ssl=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <% if flash[:notice].present? %>
      <div class="alert alert-success mb-5" role="alert" style="text-align: center; margin-bottom: 0;"><%= flash[:notice].html_safe %></div>
    <% end %>
    <% if flash[:alert].present? %>
      <div class="alert alert-danger mb-5" role="alert" style="text-align: center; margin-bottom: 0;"><%= flash[:alert].html_safe %></div>
    <% end %>

    <%= yield %>
  </body>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/859eff7750.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</html>
